@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import "tailwindcss";
.container {
    margin: 0 auto;
    width: 1170px;
}
button {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
  }